<footer class="footer">
    <div class="footer-container">
      <div class="footer-logo">
        <h2>Your logo</h2>
      </div>
      
      <div class="footer-newsletter">
        <h3>Subscribe Our Newsletter</h3>
        <div class="newsletter-input">
          <input type="email" placeholder="Enter your Email" />
          <button class="submit-btn">&#10132;</button>
        </div>
        <div class="social-icons px-3 gap-3">
          <a href="#"><img src="../../../assets/img/fb.png" alt="Facebook" /></a>
          <a href="#"><img src="../../../assets/img/insta.png" alt="Instagram" /></a>
          <a href="#"><img src="../../../assets/img/yt.png" alt="YouTube" /></a>
          <a href="#"><img src="../../../assets/img/twiter.png" alt="Twitter" /></a>
        </div>
      </div>
      
      <div class="footer-links">
        <div>
          <h4>Service</h4>
          <ul>
            <li><a href="#">Online order</a></li>
            <li><a href="#">Pre-Reservation</a></li>
            <li><a href="#">Clean kitchen</a></li>
            <li><a href="#">24/7 Service</a></li>
          </ul>
        </div>
        <div>
          <h4>About</h4>
          <ul>
            <li><a href="#">Benefits</a></li>
            <li><a href="#">Our story</a></li>
            <li><a href="#">Career</a></li>
          </ul>
        </div>
        <div>
          <h4>Help</h4>
          <ul>
            <li><a href="#">Support</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  