<div class="reservation-container">
    <div class="d-flex justify-content-between mb-5">
        <div class="content-section" [@fadeIn]>
            <h1>Do You Have Any Dinner Plans Today?<br />Reserve Your Table</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac
                aliquet
                odio mattis.</p>
            <button class="reservation-btn">Make Reservation</button>
        </div>
        <div class="image-section" [@slideInRight]>
            <img src="../../../assets/img/prepared-food.png" alt="dish" class="dish-img" />
        </div>
    </div>

    <div class="mt-5">
        <img src="../../../assets/img/mint.png" alt="mint" class="mint-img" />
        <img src="../../../assets/img/seeds.png" alt="seeds" class="seeds-img" />
    </div>
</div>