<div class="restaurant-hero">
    <div class="hero-content mb-3">
        <div class="mint-seeds-faded">
            <img src="../../../assets/img/mint.png" alt="Mint" class="mint-image" />
            <img src="../../../assets/img/seeds.png" alt="Seeds" class="seeds-image" />
        </div>

        <h1 class="title">We Serve The Taste You Love</h1>
        <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet
            odio mattis.
        </p>
        <div class="action-buttons">
            <button class="explore-btn">Explore Food</button>
            <button class="search-btn">
                <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                    </svg></span> Search
            </button>
        </div>
    </div>
    <div class="hero-image">
        <img src="../../../assets/img/bowl.png" alt="Bowl Image" class="bowl-image" />
        <div class="category-list">
            <div class="category-item"><img src="../../../assets/img/dessert.png" style="width: 30px; height: 30px;"
                    alt="">
                <span style="padding-top: 7px;">Dessert</span>
            </div>
            <div class="category-item"><img src="../../../assets/img/drinks.png" style="width: 30px; height: 30px;"
                    alt="">
                <span style="padding-top: 7px;">Drinks</span>
            </div>
            <div class="category-item"><img src="../../../assets/img/snaks.png" style="width: 30px; height: 30px;"
                    alt="">
                <span style="padding-top: 4px;">Snacks</span>
            </div>
            <div class="category-item"><img src="../../../assets/img/platter.png" style="width: 30px; height: 30px;"
                    alt="">
                <span style="padding-top: 6px;">Platters</span>
            </div>
        </div>
        <img src="../../../assets/img/mint.png" alt="Mint" class="mint-leaf" />
        <img src="../../../assets/img/chili.png" alt="Chili" class="chili" />
    </div>
</div>